<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmvaleverdeApp.proposta.home.title">Propostas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proposta" [routerLink]="['/proposta/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="crmvaleverdeApp.proposta.home.createLabel">
            Create a new Proposta
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="propostas?.length === 0">
        <span jhiTranslate="crmvaleverdeApp.proposta.home.notFound">No propostas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="propostas && propostas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="crmvaleverdeApp.proposta.numero">Numero</span></th>
                    <th scope="col" ><span jhiTranslate="crmvaleverdeApp.proposta.data">Data</span></th>
                    <th scope="col" ><span jhiTranslate="crmvaleverdeApp.proposta.propostaVenda">Proposta Venda</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proposta of propostas ;trackBy: trackId">
                    <td><a [routerLink]="['/proposta', proposta.id, 'view']">{{ proposta.id }}</a></td>
                    <td>{{ proposta.numero }}</td>
                    <td>{{ proposta.data | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="proposta.propostaVenda">
                            <a [routerLink]="['/atendimento', proposta.propostaVenda?.id, 'view']" >{{ proposta.propostaVenda?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/proposta', proposta.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/proposta', proposta.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(proposta)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
