<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contato-heading" jhiTranslate="crmvaleverdeApp.contato.home.createOrEditLabel">Create or edit a Contato</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmvaleverdeApp.contato.telefone" for="field_telefone">Telefone</label>
                    <select class="form-control" id="field_telefone" name="telefone" formControlName="telefone">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="telefoneOption.id === editForm.get('telefone')!.value?.id ? editForm.get('telefone')!.value : telefoneOption" *ngFor="let telefoneOption of telefones; trackBy: trackById">{{ telefoneOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmvaleverdeApp.contato.email" for="field_email">Email</label>
                    <select class="form-control" id="field_email" name="email" formControlName="email">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="emailOption.id === editForm.get('email')!.value?.id ? editForm.get('email')!.value : emailOption" *ngFor="let emailOption of emails; trackBy: trackById">{{ emailOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmvaleverdeApp.contato.endereco" for="field_endereco">Endereco</label>
                    <select class="form-control" id="field_endereco" name="endereco" formControlName="endereco">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enderecoOption.id === editForm.get('endereco')!.value?.id ? editForm.get('endereco')!.value : enderecoOption" *ngFor="let enderecoOption of enderecos; trackBy: trackById">{{ enderecoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
