<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gerente">
            <h2><span jhiTranslate="crmvaleverdeApp.gerente.detail.title">Gerente</span> {{ gerente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmvaleverdeApp.gerente.nome">Nome</span></dt>
                <dd>
                    <span>{{ gerente.nome }}</span>
                </dd>
                <dt><span jhiTranslate="crmvaleverdeApp.gerente.funcionario3">Funcionario 3</span></dt>
                <dd>
                    <div *ngIf="gerente.funcionario3">
                        <a [routerLink]="['/funcionario', gerente.funcionario3?.id, 'view']">{{ gerente.funcionario3?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gerente', gerente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
