<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-venda-heading" jhiTranslate="crmvaleverdeApp.venda.home.createOrEditLabel">Create or edit a Venda</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmvaleverdeApp.venda.valorDesconto" for="field_valorDesconto">Valor Desconto</label>
                    <input type="number" class="form-control" name="valorDesconto" id="field_valorDesconto"
                           formControlName="valorDesconto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmvaleverdeApp.venda.valorTotal" for="field_valorTotal">Valor Total</label>
                    <input type="number" class="form-control" name="valorTotal" id="field_valorTotal"
                           formControlName="valorTotal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmvaleverdeApp.venda.diaFechamento" for="field_diaFechamento">Dia Fechamento</label>
                    <div class="d-flex">
                        <input id="field_diaFechamento" type="datetime-local" class="form-control" name="diaFechamento" formControlName="diaFechamento" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmvaleverdeApp.venda.consultorVenda" for="field_consultorVenda">Consultor Venda</label>
                    <select class="form-control" id="field_consultorVenda" name="consultorVenda" formControlName="consultorVenda">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="consultorOption.id === editForm.get('consultorVenda')!.value?.id ? editForm.get('consultorVenda')!.value : consultorOption" *ngFor="let consultorOption of consultors; trackBy: trackById">{{ consultorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmvaleverdeApp.venda.oportunidadeVenda" for="field_oportunidadeVenda">Oportunidade Venda</label>
                    <select class="form-control" id="field_oportunidadeVenda" name="oportunidadeVenda" formControlName="oportunidadeVenda">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="oportunidadeOption.id === editForm.get('oportunidadeVenda')!.value?.id ? editForm.get('oportunidadeVenda')!.value : oportunidadeOption" *ngFor="let oportunidadeOption of oportunidades; trackBy: trackById">{{ oportunidadeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
